Fragment {
    width: 100%;
}

#wrapper {
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#siteName {
    font-size: 90px;
    font-family: 'Roboto Mono', monospace;
}