p, h1 {
    font-family: sans-serif;
}

#divider {
    height: "0.5px";
    background-color: "#c7c7c7";
}

body {
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Open+Sans&display=swap');

/* SearchBar */
#SearchBarContainer {
    width:fit-content;
    margin: auto;
}

#SearchBar_searchInput {
    width: 30vw;
    font-size: 15px;
    outline: none;
    border: none;
    padding: 15px 25px 15px 25px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 1px auto;
    border: 0.7px solid rgb(226, 226, 226);
    border-radius: 25px;
}

#SearchBar_results {
    position: absolute;
    height:100px;
    width: 30vw;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    cursor: pointer;
    margin: auto;
    border: solid;
}

#SearchBarListItem:hover {
    background-color: rgb(238, 238, 238);
}

#SearchBarListItem{
    margin-bottom: 10px;
    text-align: left;
}