#quote {
    font-size: 30px;
    font-family:  "Nanum Myeongjo, serif";
    font-style: italic;
}

#bookContainer {
    display: flex;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    border-radius: 5px;
    padding:10px;
    column-gap: 15px;
    margin-bottom:30px;
}